input{
    display: block;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    border: 1px solid #cccc;
}

input.error{
    border: 1px solid red;
}

.centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.h100Vh{
    height: 100vh;
}

.Card{
    padding: 20px;
    width: 100%;
}

.error{
    color: red;
    font-weight: bold;
}

.floatingActionButton{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.header{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #cccc;    
}